<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginimplenetation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="loginimplenetation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".Confirm_Update_Item" />
        <activity android:name=".itemOfCategory.OtherItem" />
        <activity android:name=".itemOfCategory.BeautyItem" />
        <activity android:name=".itemOfCategory.AdvertisementItem" />
        <activity android:name=".itemOfCategory.LaundryItem" />
        <activity android:name=".itemOfCategory.HealthItem" />
        <activity android:name=".itemOfCategory.EducationItem" />
        <activity android:name=".itemOfCategory.ElectronicsItem" />
        <activity android:name=".itemOfCategory.FoodItems" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoggedInActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CameraAccessActivity"
            android:parentActivityName=".LoggedInActivity" />
        <activity
            android:name=".Update"
            android:parentActivityName=".LoggedInActivity" />
        <activity
            android:name=".ManualEntry"
            android:parentActivityName=".LoggedInActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".LoggedInActivity" />
        <activity
            android:name=".TextRecognitionActivity"
            android:parentActivityName=".CameraAccessActivity" />
        <activity
            android:name=".ActivityReceiptUpdate"
            android:parentActivityName=".LoggedInActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.loginimplenetation.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="text" />
        </provider>
    </application>

</manifest>